@font-face {
  font-family: '04b08';
    src:  url('../font/04b08.ttf.woff') format('woff'),
    url('../font/04b08.ttf.svg#04b08') format('svg'),
    url('../font/04b08.ttf.eot'),
    url('../font/04b08.eot?#iefix') format('embedded-opentype');
    font-weight: normal;
    font-style: normal;
  }

  @font-face {
    font-family: 'AdvoCut';
    src:url('../font/AdvoCut.ttf.woff') format('woff'),
        url('../font/AdvoCut.ttf.svg#AdvoCut') format('svg'),
        url('../font/AdvoCut.ttf.eot'),
        url('../font/AdvoCut.ttf.eot?#iefix') format('embedded-opentype');
        font-weight: normal;
        font-style: normal;
}

html, body {
    margin: 0;
    padding: 0;
}

body { margin: 0; overflow: hidden; background: #111; color: #ccc; }

canvas {
  display: block;
  position: fixed;
  top:0;
    bottom: 0;
    left: 0;
    right: 0;

    margin: auto;

  /*//transform:translate(-50%, -25%);*/
  image-rendering: optimizeSpeed;
  image-rendering: pixelated;


  /* cursor: none; */

  margin: auto;

}

:-webkit-full-screen  {
  width: 2140px;
  height: 1280px;
}

a, a:link, a:visited, a:active, a:hover {
    color: #bbbbbb;
    text-decoration: none;
}
